@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

:root{
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    --font-family-default: 'Figtree', sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-default);
    font-size: 16px;
    background-color: var(--color-yellow);
    color: var(--color-gray-950);

    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 1px solid var(--color-gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px var(--color-gray-950);

    max-width: 384px;
    margin: 1rem;
}

.card img {
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.category {
    background-color: var(--color-yellow);
    padding: 0.25rem 0.75rem;
    border-radius: 4px;

    display: inline-block;

    font-weight: 800;
    margin-bottom: 0.75rem;
}

.publish-date {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.card h2 a {
    color: var(--color-gray-950);
    text-decoration: none;
    font-weight: 800;
}

.card h2 a:hover {
    color: var(--color-yellow);
}

.description {
    color: var(--color-gray-500);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.author img {
    width: 32px;
    height: 32px;
    margin: 0;
}

.author p {
    font-weight: 800;
}