/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* CSS VARIABLES */
:root {
    /* Colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220,15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    /* Typography */
    --ff-primary: 'Outfit', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;

    --fs-body: 15px;   
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    color: var(--clr-grayish-blue);
    background-color: var(--clr-light-gray);
    line-height: 1.5;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.qr-card {
    background-color: var(--clr-white);
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 25px 50px hsla(0, 0%, 0%, 0.1);

    max-width: 320px;
    text-align: center;

    margin: 1rem;
}

.qr-card img {
    border-radius: 0.625rem;
}

.qr-card-text h1 {
    color: var(--clr-dark-blue);
    font-weight: var(--fw-bold);
    font-size: 1.375rem;

    margin-top: 1.5rem;
    margin-bottom: 1rem;

    line-height: 1.3;
}

.qr-card-text p {
    margin-bottom: 1.5rem;
    letter-spacing: 0.1px;
}


